[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
twilio = "*"
requests = "*"
bs4 = "*"
sqlalchemy = "*"
deluge = "*"
python-qbittorrent = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
