[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
twilio = "*"
requests = "*"
bs4 = "*"
sqlalchemy = "*"
deluge = "*"
python-qbittorrent = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
redis = "*"
isort = "*"

[dev-packages]
black = "==20.8b1"
# [requires]
# python_version = "3.9.0"

[pipenv]
allow_prereleases = true
